<h3>Android Server Node Lists</h3>

<table class="table table-bordered" >
  <thead>
    <tr>
      <td> <strong> ID </strong> </td>
      <td> <strong> Server Name</strong> </td>
      <td> <strong> IP </strong></td>
      <td> <strong> Status</strong></td>
      <td> <strong> User ID </strong> </td>
      <td> <strong> Change Status </strong> </td>
    </tr>
  </thead>
  <tbody>
    <% @servernodes.each do |node| %>
      <tr>
        <td> <%= node.id%> </td>
        <td><%= node.name%></td>
        <td><%= node.ip_address%></td>
        <td><%= node.status%></td>
        <td><%= node.user_id%></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>

</table>