<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">New Game Upload</h3>
  </div>

  <div class="panel-body">
    <%= simple_form_for [:admin, @product], :html => { :class => "form form-horizontal" } do|f|%>

  <div class="form-group">
    <div class="col-sm-2">
      <%= f.input :title %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-2">
      <%= f.input :description, :as => :text %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-2">
      <%= f.simple_fields_for :photos do |c| %>
        <% c.input :image, :as => :file %>
      <% end %>
    </div>
  </div>

  <div class ="form-group">
    <div calss ="col-sm-2">
      <%= f.submit "Submit",:class => "btn btn-default" , :disable_with => 'Submiting...'  %>
    </div>
  </div>

  <% end %>
</div>